<%= render 'schools/edit_hero' %>
<section class="content-piece">
  <div class="gut">
    <% if @error %>
    <div class="form-error">
      <%=raw @error %>
    </div>
    <% end %>
    <div class="form-wrap-set">
      <%= form_for @school, url: { action: "update" } do |school_form| %>

      <div class="js-location-list">
        <%= school_form.fields_for :locations do |location_form| %>
        <div class="form-wrap--big<%= " first" if location_form.index == 0 %>">
          <fieldset>
            <legend>Location #<%= location_form.index + 1 %></legend>
            <div class="form-field-group--double group">
              <div class="form-field first">
                <%= location_form.label :street %>
                <%= location_form.text_field :street %>
              </div>
              <div class="form-field first">
                <%= location_form.label :city %>
                <%= location_form.text_field :city %>
              </div>
            </div>
            <div class="form-field-group--double group">
              <div class="form-field">
                <%= location_form.label :state %>
                <div class="select-wrap">
                  <%= location_form.select :state, options_for_select(us_states.unshift([" "]), location_form.object.state) %>
                </div>
              </div>
              <div class="form-field">
                <%= location_form.label :zip %>
                <%= location_form.text_field :zip %>
              </div>
            </div>
          </fieldset>
        </div>
        <% end %>
      </div>

      <div class="form-tray">
        <%= button_tag "Update School Location", :name => "commit", :type => "submit", :class => "btn--green" %>
      </div>

      <% end %>
    </div>
  </div>
</section>
