<section class="content-piece lead-in">
  <div class="gut">
    <h1>Build Your Applicant Profile</h1>
    <h2>You'll want this information to be accurate and up-to-date. We send your profile to the bootcamps when you apply.</h2>
  </div>
</section>

<section class="content-piece">
  <div class="gut">
    <% if @error %>
    <div class="form-error">
      <%=raw @error %>
    </div>
    <% end %>
    <div class="form-wrap-set">
      <%= form_for @applicant, url: {action: "update"} do |applicant_form| %>
        <% @questions.each_with_index do |(field_set, questions), qs_index| %>
        <div class="form-wrap--big<%= " first" if qs_index == 0 %>">
          <fieldset>
            <legend><%= field_set %></legend>
            <% questions.each_with_index do |question, q_index| %>
            <div class="form-field<%= " first" if q_index == 0 %>">
              <%= label_tag question.name.parameterize, question.label %>
              <%
              answer = @applicant_profile.answers.find_by_question_id(question.id)
              answer = answer.nil? ? "" : answer.answer
              %>
              <% if question.question_type == "String" %>
                <%= text_field_tag("question[#{question.id.to_s}]", answer) %>
              <% end %>
              <% if question.question_type == "Text" %>
                <%= text_area_tag("question[#{question.id.to_s}]", answer) %>
              <% end %>
              <% if question.question_type == "Select" %>
                <% q_helper = JSON.parse(question.helper.gsub(/\s+/, "")) %>
                <div class="select-wrap">
                  <%= select_tag("question[#{question.id.to_s}]", options_for_select(q_helper["options"], answer), :include_blank => true) %>
                </div>
              <% end %>
            </div>
            <% end %>
          </fieldset>
        </div>
        <% end %>
        <div class="form-field">
          <%= button_tag "Update Profile", :name => "commit", :type => "submit", :class => "btn--green" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for :scripts do %>
<script>
$('[name="account[name]"]').focus();
</script>
<% end %>
