<header class="admin-header">
  <div class="gut group">
    <h1><%= action %> School</h1>
    <a href="<%= admin_schools_path %>" class="listing">Listing</a>
  </div>
</header>
<section class="admin-subheader">
  <div class="gut group">
    <div class="info--primary">
      <%= instructions %>
    </div>
  </div>
</section>
<section class="admin-manage">
  <div class="gut">
    <%= form_for school, url: { action: action_complete.downcase } do |school_form| %>

      <div class="form-field">
        <%= school_form.label :name, 'Name' %>
        <%= school_form.text_field :name %>
      </div>

      <div class="form-field">
        <%= school_form.label :description, 'Description' %>
        <%= school_form.text_area :description %>
      </div>

      <div class="form-field-group--double group">
        <div class="form-field">
          <%= school_form.label :website, 'Website' %>
          <%= school_form.url_field :website, :placeholder => 'http://' %>
        </div>
        <div class="form-field">
          <%= school_form.label :email, 'Email' %>
          <%= school_form.email_field :email %>
        </div>
      </div>

      <div class="form-field-group--double group">
        <div class="form-field">
          <%= school_form.label :twitter, 'Twitter Handle' %>
          <%= school_form.text_field :twitter %>
        </div>
        <div class="form-field">
          <%= school_form.label :facebook, 'Facebook Handle' %>
          <%= school_form.text_field :facebook %>
        </div>
      </div>

      <div class="form-field-group--double group">
        <div class="form-field">
          <%= school_form.label :logo, 'Logo' %>
          <% unless school_form.object.new_record? %>
          <img src="<%= school_form.object.logo %>" class="dynamic" />
          <% end %>
          <%= school_form.file_field :logo %>
        </div>
        <div class="form-field">
          <div class="form-field-group--double group">
            <div class="form-field">
              <%= school_form.label :video_source, 'Video Source' %>
              <div class="select-wrap">
                <%= school_form.select :video_source, [['Vimeo', 'vimeo'], ['YouTube', 'youtube'], ['Wistia', 'wistia']] %>
              </div>
            </div>
            <div class="form-field">
              <%= school_form.label :video, 'Video ID' %>
              <%= school_form.text_field :video %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-field">
        <%= button_tag action_complete, :name => "commit", :type => "submit", :class => "btn--green" %>
      </div>

    <% end %>
  </div>
</section>
