<header class="admin-header">
  <div class="gut group">
    <h1>Schools</h1>
    <a href="<%= new_admin_school_path %>" class="add btn--green">New</a>
  </div>
</header>

<%= render partial: "admin/shared/subheader", locals: { result_count: @schools.size } %>

<section class="admin-listing">
  <div class="gut">
    <table class="editable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Admins</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @schools.each do |school| %>
        <tr>
          <td class="id" data-edit-path="<%= edit_admin_school_path(school.id) %>"><%= school.id %></td>
          <td class="js-filter-this"><%= school.name %></td>
          <td class="js-filter-this"><%= school.admins.pluck(:name).join(", ") %></td>
          <td class="remove">
            <a href="<%= admin_school_path(school.id, :format => :json) %>">Remove</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
