<header class="admin-header">
  <div class="gut group">
    <h1>Invitations</h1>
    <a href="<%= new_admin_invitation_path %>" class="add btn--green">New</a>
  </div>
</header>

<%= render partial: "admin/shared/subheader", locals: { result_count: @invitations.size } %>

<section class="admin-listing">
  <div class="gut">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Bootcamp</th>
          <th>Email</th>
          <th>Invitation Code</th>
          <th>Invited</th>
          <th>Expired?</th>
          <th>Expire</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @invitations.each do |invitation| %>
        <tr>
          <td class="id"><%= invitation.id %></td>
          <td class="js-filter-this"><%= invitation.bootcamp.name %></td>
          <td class="js-filter-this"><%= invitation.email %></td>
          <td class="js-filter-this"><%= invitation.code %></td>
          <td class="js-filter-this"><%= invitation.created_at.strftime("%b %-d, %Y") %></td>
          <td class="js-filter-this"><%= invitation.is_expired ? "Expired" : "Not Expired" %></td>
          <td class="expire">
            <a href="<%= admin_invitation_path(invitation.id, :format => :json) %>">Expire</a>
          </td>
          <td class="remove">
            <a href="<%= admin_invitation_path(invitation.id, :format => :json) %>">Remove</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<% content_for :scripts do %>
<script>
// Expire invitation
$(document).on('click', '.admin-listing tbody td.expire a', function(e) {
  e.stopPropagation();
  e.preventDefault();

  if (confirm('Are you sure you want to expire this invitation?')) {
    $.ajax({
      url: $(this).attr('href'),
      type: 'PATCH',
      data: {
        'bootcamp_invitation': {
          'is_expired': true
        }
      }
    }).done(function(result) {
      location.reload();
    });
  }
});
</script>
<% end %>
