<li>
  <a href="<%= school_seo_path(card.id, card.name.parameterize) %>" class="school-card">
    <div class="focus <%= ["green", "red", "blue"][rand(0..2)] %>">
      <span><%= ["Ruby", "PHP", "NodeJS", "Java"][rand(0..3)] %></span>
    </div>
    <div class="logo-wrap">
      <div class="logo" style="background-image: url('<%= card.logo %>');">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
      </div>
    </div>
    <h2 class="name<%= " apply" if role_signed_in? Role::APPLICANT %>">
      <% if role_signed_in? Role::APPLICANT %>
      <span class="btn--apply btn--clear">Apply</span>
      <% end %>
      <%= card.name %>
    </h2>
    <div class="tray">
      <ul class="list--layout">
        <li class="group">
          <span class="value">San Francisco, CA</span>
          <span class="label">Location</span>
        </li>
        <li class="group">
          <span class="value">$10,000</span>
          <span class="label">Price</span>
        </li>
        <li class="group">
          <span class="value">Ruby, JS, Git</span>
          <span class="label">Stack</span>
        </li>
      </ul>
    </div>
  </a>
</li>