<section class="content-piece lead-in">
  <div class="gut">
    <h1>Manage <%= @school.name %></h1>
    <h2>You'll want this information to be accurate and up-to-date. Applicants garner interest based off what's represented here.</h2>
  </div>
</section>
<section class="site-subheader">
  <div class="gut">
    <ul class="list--layout group">
      <li class="<%= active_page(edit_school_path(@school)) %>">
        <a href="<%= edit_school_path(@school) %>">School Profile</a>
      </li>
      <li class="<%= active_page(edit_school_locations_path(@school)) %>">
        <a href="<%= edit_school_locations_path(@school) %>">School Locations</a>
      </li>
      <li class="<%= active_page(edit_school_applications_path(@school)) %>">
        <a href="<%= edit_school_applications_path(@school) %>">Application Settings</a>
      </li>
    </ul>
  </div>
</section>