<section class="content-piece--margin">
  <div class="gut group">
    <div class="school-directory-filter">
      <div class="filter--search<%= " active" if params.key?(:q) %>">
        <form action="<%= schools_path %>" method="get">
          <input type="text" name="q" value="<%= params[:q] %>" placeholder="Search" />
        </form>
      </div>
      <div class="filter--tag">
        <h2>Focus</h2>
        <ul class="list--layout">
          <li class="<%= "active" if !params.key?(:focus) %>">
            <a href="<%= schools_path(:location => params[:location], :price => params[:price]) %>">All</a>
          </li>
          <% @focuses.each do |focus| %>
          <li class="<%= active_page(schools_path(:focus => focus.downcase, :location => params[:location], :price => params[:price])) %>">
            <a href="<%= schools_path(:focus => focus.downcase, :location => params[:location], :price => params[:price]) %>"><%= focus %></a>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="filter--tag">
        <h2>Location</h2>
        <ul class="list--layout">
          <li class="<%= "active" if !params.key?(:location) %>">
            <a href="<%= schools_path(:focus => params[:focus], :price => params[:price]) %>">All</a>
          </li>
          <% @locations.each do |location| %>
          <li class="<%= active_page(schools_path(:focus => params[:focus], :location => location.downcase, :price => params[:price])) %>">
            <a href="<%= schools_path(:focus => params[:focus], :location => location.downcase, :price => params[:price]) %>"><%= location %></a>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="filter--tag">
        <h2>Price</h2>
        <ul class="list--layout">
          <li class="<%= "active" if !params.key?(:price) %>">
            <a href="<%= schools_path(:focus => params[:focus], :location => params[:location]) %>">All</a>
          </li>
          <li class="<%= active_page(schools_path(:focus => params[:focus], :location => params[:location], :price => "0")) %>">
            <a href="<%= schools_path(:focus => params[:focus], :location => params[:location], :price => "0") %>">Free</a>
          </li>
          <li class="<%= active_page(schools_path(:focus => params[:focus], :location => params[:location], :price => "0-5000")) %>">
            <a href="<%= schools_path(:focus => params[:focus], :location => params[:location], :price => "0-5000") %>">Free - $5k</a>
          </li>
          <li class="<%= active_page(schools_path(:focus => params[:focus], :location => params[:location], :price => "5000-10000")) %>">
            <a href="<%= schools_path(:focus => params[:focus], :location => params[:location], :price => "5000-10000") %>">$5k - $10k</a>
          </li>
          <li class="<%= active_page(schools_path(:focus => params[:focus], :location => params[:location], :price => "10000-20000")) %>">
            <a href="<%= schools_path(:focus => params[:focus], :location => params[:location], :price => "10000-20000") %>">$10k - $20k</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="school-directory-list">
      <% if @schools.any? %>
      <ul class="school-card-list school-card-list--three list--layout group">
        <%= render partial: "schools/card", collection: @schools %>
      </ul>
      <% else %>
      <div class="no-schools">
        No bootcamps found. You can try broadening<br />the search by resetting the filters.
        <div>
          <a href="<%= schools_path %>" class="btn--green">Reset Filters</a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>