<section class="content-piece content-piece--school">
  <div class="gut group">

    <div class="school-about">
      <div class="logo" style="background-image: url('<%= @school.logo %>');">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
      </div>
      <div class="name">
        <%= @school.name %>
      </div>
      <% if @school.locations.any? %>
      <div class="location">
        <%= @school.locations.first.city %>, <%= @school.locations.first.state %>
      </div>
      <% end %>
      <% if role_signed_in? Role::APPLICANT %>
      <div class="btn--apply btn--clear apply" data-school="<%= @school.id %>">
        <span class="_apply">Add to Application</span>
        <span class="_applying">Adding</span>
        <span class="_remove">Remove from Application</span>
        <span class="_removing">Removing</span>
        <span class="_applied">Added to Application</span>
      </div>
      <% end %>
      <div class="connect">
        <h2>Connect</h2>
        <ul class="list--layout trim">
          <li>
            <a href="<%= @school.website %>" target="_blank"><%= @school.website.sub(/^https?\:\/\//, '').sub(/^www./,'') %></a>
          </li>
          <li>
            <a href="mailto:<%= @school.email %>"><%= @school.email %></a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/<%= @school.twitter[1..-1] %>" target="_blank">@<%= @school.twitter[1..-1] %></a>
          </li>
          <li class="facebook">
            <a href="http://facebook.com/<%= @school.facebook %>" target="_blank">/<%= @school.facebook %></a>
          </li>
        </ul>
      </div>

    </div>

    <div class="school-content">
      <strong>Hold tight!</strong>
      <br />
      School details will be here soon.
    </div>

  </div>
</section>

<% content_for :scripts do %>
<script>
var cardUpdatePath = "<%= applicant_application_path(current_account) %>";
</script>
<%= javascript_include_tag "card" if role_signed_in? Role::APPLICANT %>
<% end %>

