<section class="content-piece lead-in--white">
  <div class="gut">
    <h1>Boom! Application has been sent.</h1>
    <h2>You can now await responses from the <%= "schools".pluralize(@school_selections.size) %> in your inbox.</h2>
  </div>
</section>

<section class="content-piece">
  <div class="gut">
    <% if @error %>
    <p><%= @error %></p>
    <% else %>
    <div class="school-priority-wrap">
      <ul class="school-priority list--layout">
        <% @school_selections.each_with_index do |school_selection, index| %>
        <li>
          <div class="logo" style="background-image: url('<%= school_selection.school.logo %>');"></div>
          <span class="priority">#<%= school_selection.priority %></span>
          <span class="name"><%= school_selection.school.name %></span>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</section>