<% content_for :header_class do %>see-through on-dark<% end %>

<section class="hero hero--home hero--dark">
  <div class="gut middle--outer">
    <div class="middle--inner">
      <h1>A better way to bootcamp</h1>
      <h2>Research coding bootcamps. Apply with one profile.</h2>
      <a href="<%= schools_path %>" class="schools btn--clear">View Schools</a>
      <% if guest? %>
      <a href="<%= new_applicant_path %>" class="apply btn--green">Start Application</a>
      <% elsif role_signed_in? Role::APPLICANT %>
      <a href="<%= apply_path %>" class="apply btn--green">Continue Application</a>
      <% end %>
    </div>
  </div>
</section>
<section class="content-piece lead-in--delta lead-in--home">
  <div class="gut">
    <h2>
      Our mission is to elevate the bootcamp scene by<br />informing, streamlining, and connecting students and schools.
    </h2>
  </div>
</section>
<section class="content-piece--margin lead-in--clear">
  <div class="gut">
    <h1>Newest Bootcamps</h1>
    <h2>We are constantly expanding our list of bootcamps. <a href="<%= schools_path %>">View all</a>.</h2>
  </div>
</section>
<section class="content-piece--margin">
  <div class="gut">
    <ul class="school-card-list school-card-list--four list--layout group">
      <%= render partial: "schools/card", collection: @latest_schools %>
    </ul>
  </div>
</section>

<% content_for :scripts do %>
<script>
var cardUpdatePath = "<%= applicant_application_path(current_account) %>";
</script>
<%= javascript_include_tag "card" if role_signed_in? Role::APPLICANT %>
<% end %>