<!DOCTYPE html>
<html>
  <head>
    <title>hack_app</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "//cloud.typography.com/7222252/625882/css/fonts.css", media: "all" %>
    <%= stylesheet_link_tag "main", media: "all" %>
  </head>
  <body>
    <header class="site-header group">
      <div class="gut">
        <%= image_tag "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", class: "site-logo" %>
        <nav class="site-nav" role="navigation">
          <ul class="list--layout group">
            <li>
              <a href="<%= schools_path %>">Schools</a>
            </li>
            <% if role_signed_in? Role::SUPER_ADMIN %>
            <li>
              <a href="<%= admin_root_path %>">Admin</a>
            </li>
            <% elsif role_signed_in? Role::SCHOOL_ADMIN %>
            <li>
              <a href="/">Profile</a>
            </li>
            <% elsif role_signed_in? Role::APPLICANT %>
            <li>
              <a href="/">Your Application</a>
            </li>
            <li>
              <a href="/">Account*</a>
            </li>
            <% elsif guest? %>
            <li>
              <a href="<%= new_application_path %>">Apply Now</a>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <%= javascript_include_tag "main" %>
    <%= yield :scripts %>
  </body>
</html>
