<section class="content-piece lead-in">
  <div class="gut">
    <h1>Manage Your Account</h1>
    <h2>Update any information in the fields below.</h2>
  </div>
</section>
<section class="content-piece">
  <div class="gut">
    <% if @error %>
    <div class="form-error">
      <%=raw @error %>
    </div>
    <% end %>
    <div class="form-wrap-set">
      <%= form_for @account, url: { action: "update" } do |account_form| %>
      <div class="form-wrap--big first">
        <fieldset>
          <div class="form-field-group--double group">
            <div class="form-field first">
              <%= account_form.label :name, 'Name' %>
              <%= account_form.text_field :name %>
            </div>
            <div class="form-field first">
              <%= account_form.label :email, 'Email' %>
              <%= account_form.email_field :email %>
            </div>
          </div>
          <div class="form-field-group--double group">
            <div class="form-field">
              <%= account_form.label :password_hash, 'New Password' %>
              <%= account_form.password_field :password_hash %>
            </div>
            <div class="form-field">
              <%= label_tag :password_confirm, 'Confirm New Password' %>
              <%= password_field_tag :password_confirm %>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-tray">
        <%= button_tag "Update Account", :name => "commit", :type => "submit", :class => "btn--green" %>
      </div>
      <% end %> 
    </div>
  </div>
</section>
